body{
    background-color: black;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-image: linear-gradient(lavender,pink,cyan);
}

.calculator input[type="text"] {
    grid-column: 1 / span 4;
    height: 40px;
    text-align: right;
    font-size: 18px;

}

.calculator button {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: rgb(179, 172, 172);
} 
h1{
  color: white;
  align-items: center;
  text-align: center;
  padding: 80px;
  font-size: 50px;
}
button equalto{
  background-color: blue;
}
@media (max-width: 480px) {
 .calculator{
  max-width: 100%;
  padding: 10px;
 grid-template-columns: repeat(3,1fr);
 grid-gap:10px;
 }
  .calculator input[type="text"]{
    height: 60px;
    font-size: 24px;
    grid-column: 1 / span 3;
    
  }
  .calculator button{
    height: 60px;
    font-size: 24px;
  }
}
